* {
  font-family: Roboto, sans-serif;
}


/* Fondo de Barra de Scroll */
body::-webkit-scrollbar {
  background: #101415;
  width: 5px;
}

/* Barra de Scroll */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    #101415,
    #f0953320,
    #f0953350,
    #f0953380,
    #f0943390,
    #e6683c,
    #e63c3c,
    #dc2743,
    #e1306c,
    #c13584,
    #833ab4,
    #5851db,
    #405de690,
    #405ce680,
    #405de650,
    #405de620,
    #101415
  );
}

/*Blur (Fondo de las cards con Efecto )*/
.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
}

/* border gradient tipo instagram */

.border-instagram {
  border: 1px solid transparent;
  border-image: linear-gradient(
    135deg,
    #f09433,
    #e6683c,
    #e63c3c,
    #dc2743,
    #e1306c,
    #c13584,
    #833ab4,
    #5851db,
    #405de6
  );
  border-image-slice: 1;
}

.border-bottom-instagram {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    135deg,
    #f09433,
    #e6683c,
    #e63c3c,
    #dc2743,
    #e1306c,
    #c13584,
    #833ab4,
    #5851db,
    #405de6
  );
  border-image-slice: 1;
}
